* {
    padding: 0;
    margin: 0;
}
.header{
    padding: 12px;
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433 , #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__list{
    list-style: none;
    margin: 4px 0 0;
    display: flex;
}

.header__item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: inline-flex;
    align-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e8e8e8;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -25px;
    z-index: -1;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 16px;
    display: block;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #e8e8e8;
}

.header__navbar-user-avatar-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid #e0211a;
    
}

.header__item--hasqr:hover .header__qr{
    display: block;
}

.header__item--has-notify:hover .header__notify{
    display: block;
    z-index: 2;
}

.header__item,
.header__item-link{  
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__item:hover,
.header__navbar-icon:hover,
.header__item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__item,
.header__item-link,
.header__item-icon{
    display: inline-flex;
    align-items: center;
}


.header__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__item-icon {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.5rem;
    margin: 0 2px;
}

.header__item-icon:nth-child(2){
    margin-left: 3px;
}

.connectM{
    cursor: text;
    color: var(--white-color);
}

/* Header QR */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before{
    content: "";
    display: block;
    left: 0;
    width: 100%;
    height: 20px;
    top: -17px;
    position: absolute;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-down-img{
    height: 15px;
}

.header__qr-link:nth-child(1){
    margin-left: 12px;
}

.header__qr-link:nth-child(2){
    margin-right: 12px;
}

/* Header notification */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgb(214, 214, 214);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top right; /* Định tâm của việc transform */
    animation: headerNotifyGrowth ease-in .2s;
    -webkit-animation: headerNotifyGrowth ease-in .2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in .2s;
    -o-animation: headerNotifyGrowth ease-in .2s;
    -moz-animation: headerNotifyGrowth ease-in .2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before{
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -27px;
}

.header__notify::after{
    content: "";
    display: block;
    width: 90px;
    position: absolute;
    right: 0;
    top: -16px;
    height: 20px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400; 
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
    -webkit-user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f8f8f8;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #999;
    line-height: 1.2rem;
    margin-top: 4px;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Search */
.header-with-search{
    align-items: center;
    height: var(--header-with-search-height);
    margin: 0 8px;
    display: flex;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img{
    width: 150px;
    fill: var(--white-color);
}

.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cast {
    width: 150px;
    text-align: center;
}

.header__cast-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cast-icon{
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 4px;
}

.header__cast-wrap:hover .header__cast-list {
    display: block;
}

.header__cast-list {
    position: absolute;
    top: calc(100% + 9px);
    right: -7px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in .2s;
    cursor: default;
    z-index: 1;
}

.header__cast-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 9px;
    top: -30px;
    border-width: 21px 20px;
    border-style: solid;
    border-color:  transparent transparent var(--white-color) transparent;
}

.header__cast--no-cart{
    padding: 20px 0;
}

.header__cast--no-cart .header__cast--no-cart-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cast--no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-notice {
    position: absolute;
    top: -6px;
    right: -2px;
    padding: 1px 5px;
    font-size: 1.2rem;
    line-height: 1.0rem;
    border-radius: 10px;
    border: 3px solid #ff0800 ;
    color: var(--primary-color);
    background-color: var(--white-color);
}


.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0 16px 0 8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 2px;
    outline: none;
}

.header__search-btn:hover{
    background-color: #f16c51;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px rgb(218, 217, 217);
    border-radius: 2px;
    padding-left: 0;
    margin-top: 14px;
    display: none;
    animation:  fadeIn ease-in .2s;
    z-index: 1;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 25px;
    top: -20px;
    left: 0;
    position: absolute;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px #ccc;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    color: rgba(204, 204, 204, 0.714);
    margin: 8px 17px;
    font-size: 1.4rem;
    font-weight: 370;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
}

.header__search-history-item {
    height: 38px;
    padding: 0 17px;
}

.header__search-history-item:hover {
    background-color: rgb(231, 231, 231)
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

/* Cast */

.header__cast_heading {
    text-align: left;
    margin: 14px 0 8px 14px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cast-list-items {
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
}

.header__cast-item {
     display: flex;
     align-items: center;
}

.header__cast-item:hover{
    background-color: #f8f8f8;
}

.header__cast-img {
     width: 42px;
     height: 42px;
     margin: 12px;
     border: 1px solid #e8e8e8;
}
.header__cast-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cast-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.header__cast-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 410;
    margin: 0;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cast-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cast-item-multiply {
    font-size: 1rem;
    color: #757575;
    margin: 0 4px;
}

.header__cast-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cast-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cast-item-description {
    color: #757575;
    font-size: 1.2rem;
}

.header__cast-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.header__cast-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cast-view {
    float: right;
    margin: 12px 12px 12px 0;
}

.header__cast-view:hover {
    background-color: #f05d41;
}

/* Fotter */
.footer {
    padding-top: 36px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    padding-bottom: 15px;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item_link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.footer-item_link:hover {
    color: var(--primary-color);
}

.footer-item_icon {
    font-size: 1.7rem;
    margin: -2px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
   height: 18px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
    min-height: 48px;
    padding: 24px 0;
    margin-top: 24px;
}

.footer__text {
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}